openapi: 3.2.0
info:
  title: Everhour Webhooks API
  description: The Everhour API is a RESTful interface providing programmatic access to time tracking, timesheets, timers, projects, tasks, clients, invoices, expenses, resource scheduling, time off, and reporting data in Everhour.
  version: '1.2'
  contact:
    name: Everhour
    url: https://everhour.com
    email: ask@everhour.com
servers:
- url: https://api.everhour.com
  description: Everhour production API
security:
- apiKey: []
tags:
- name: Webhooks
  description: Webhook subscriptions for resource change events.
paths:
  /hooks:
    post:
      operationId: createWebhook
      tags:
      - Webhooks
      summary: Create webhook
      description: Creates a webhook subscription. Everhour sends a verification POST with an X-Hook-Secret header to the target URL; the target must echo the header back to complete verification. Supported events cover project, task, timer, time, section, client, and estimate changes.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookRequest'
      responses:
        '201':
          description: The created webhook.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /hooks/{hookId}:
    parameters:
    - name: hookId
      in: path
      required: true
      description: Webhook ID.
      schema:
        type: integer
    get:
      operationId: getWebhook
      tags:
      - Webhooks
      summary: Get webhook
      description: Returns a webhook subscription by ID.
      responses:
        '200':
          description: The webhook.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    put:
      operationId: updateWebhook
      tags:
      - Webhooks
      summary: Update webhook
      description: Updates a webhook subscription (re-triggers target URL verification).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookRequest'
      responses:
        '200':
          description: The updated webhook.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    delete:
      operationId: deleteWebhook
      tags:
      - Webhooks
      summary: Delete webhook
      description: Deletes a webhook subscription.
      responses:
        '204':
          description: Webhook deleted.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
components:
  responses:
    TooManyRequests:
      description: Rate limit exceeded (around 20 requests per 10 seconds per API key). The Retry-After response header specifies the number of seconds to wait before making another request.
      headers:
        Retry-After:
          description: Seconds to wait before retrying.
          schema:
            type: integer
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing or invalid X-Api-Key header.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    WebhookRequest:
      type: object
      required:
      - targetUrl
      - events
      properties:
        targetUrl:
          type: string
          description: HTTPS endpoint that will receive event payloads.
        events:
          type: array
          description: Events to receive. Supported values include api:project:created, api:project:updated, api:project:removed, api:task:created, api:task:updated, api:task:removed, api:timer:started, api:timer:stopped, api:time:updated, api:section:created, api:section:updated, api:section:removed, api:client:created, api:client:updated, and api:estimate:updated.
          items:
            type: string
        project:
          type: string
          description: Receive events only for a specific project.
    Error:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
    Webhook:
      type: object
      properties:
        id:
          type: integer
        targetUrl:
          type: string
        events:
          type: array
          description: Subscribed events, for example api:time:updated or api:timer:started.
          items:
            type: string
        project:
          type: string
          description: Optional project scope for events.
        isActive:
          type: boolean
        createdAt:
          type: string
        lastUsedAt:
          type: string
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-Api-Key
      description: API key from the bottom of your Everhour profile page.
